highlighted.vocab-highlighted[data-state='unknown'] {
  background-color: rgba(238, 238, 119, 0.5);
}

highlighted.vocab-highlighted[data-state='marked'] {
  background-color: rgba(238, 119, 119, 0.5);
}

highlighted.vocab-highlighted:hover {
  filter: contrast(70%) brightness(130%);
}

.dictionary-tooltip {
  font-size: small;
  text-align: left;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

.dictionary-entry-word {
  font-size: medium;
  font-weight: bold;
  color: navy;
  margin: 0px;
  padding: 0px;
}

.dictionary-entry-pos {
  font-style: italic;
}

.dictionary-entry-gender {
  font-style: italic;
}

.dictionary-entry-bullet {
  margin: 0px 2px 0px 4px;
  padding: 0px;
  color: rgb(50, 50, 170);
}

.dictionary-entry-def {
  font-size: small;
  margin: 0px;
  padding: 0px;
  color: #222222;
}

.dictionary-entry-example {
  background-color: #eeeeee;
}

.dictionary-entry-example-original {
  font-size: smaller;
}

.dictionary-entry-example-translation {
  font-size: smaller;
  color: #444444;
}

ol.dictionary-entry-defs {
  margin-left: 14px;
}

hr.dictionary-entry-separator {
  margin: 3px 0px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  height: 0px;
  border-color: gray;
}
