highlighted.vocab-highlighted[data-state='unknown'] {
  background-color: rgba(238, 238, 119, 0.5);
}

highlighted.vocab-highlighted[data-state='marked'] {
  background-color: rgba(238, 119, 119, 0.5);
}

highlighted.vocab-highlighted:hover {
  filter: contrast(70%) brightness(130%);
}

div.dictionary-entry {
  text-align: left;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

span.dictionary-entry-word {
  font-size: medium;
  font-weight: bold;
  color: navy;
  margin: 0px;
  padding: 0px;
}

span.dictionary-entry-pos {}

span.dictionary-entry-gender {}

span.dictionary-entry-bullet {
  margin: 0px 2px 0px 4px;
  padding: 0px;
  color: rgb(50, 50, 170);
}

span.dictionary-entry-def {
  font-size: small;
  margin: 0px;
  padding: 0px;
  border-style: none none solid none;
  border-width: 0px 0px 1px 0px;
  border-color: white white #eeeeee white;
  color: #222222;
}

dd.dictionary-entry-example-original {
    color: red;
}

dd.dictionary-entry-example-translation {
    color: green;
}

ol.dictionary-entry-defs {
    margin-left: 10px;
}

hr.dictionary-entry-separator {
  margin: 3px 0px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  height: 0px;
  border-color: gray;
}
