highlighted.vocab-highlighted[data-state='unknown'] {
  background-color: rgba(238, 238, 119, 0.5);
}

highlighted.vocab-highlighted[data-state='marked'] {
  background-color: rgba(238, 119, 119, 0.5);
}

highlighted.vocab-highlighted:hover {
  filter: contrast(70%) brightness(130%);
}

.popup-dictionary {

  /* css reset */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* default */

  .dictionary-tooltip {
    font-size: small !important;
    text-align: left !important;
    font-family: sans-serif !important;

    .dictionary-entry-word {
      font-size: medium !important;
      font-weight: bold !important;
      color: navy !important;
    }

    .dictionary-entry-pos {
      color: #003300 !important;
      font-style: italic !important;
    }

    .dictionary-entry-gender {
      font-style: italic !important;
    }

    .dictionary-entry-bullet {
      color: rgb(50, 50, 170) !important;
    }

    .dictionary-entry-def {
      font-size: small !important;
      color: #222222 !important;
    }

    .dictionary-entry-example {
      background-color: #eeeeee !important;
    }

    .dictionary-entry-example-original {
      font-size: smaller !important;
    }

    .dictionary-entry-example-translation {
      font-size: smaller !important;
      color: #444444 !important;
    }

    dl {
      margin-top: 2px !important;
      margin-left: 16px !important;
    }

    hr.dictionary-entry-separator {
      margin: 3px 0px !important;
      border-style: solid !important;
      border-width: 1px !important;
      height: 0px !important;
      border-color: gray !important;
    }

    ul {
      list-style-type: circle !important;
      list-style-position: outside !important;
      margin-left: 16px !important;
    }

    ol {
      list-style-type: decimal !important;
      list-style-position: outside !important;
      margin-left: 16px !important;
    }
  }
}
