td.cell {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.word.marked {
    color: red;
    font-weight: bold;
}

.word {
    color: black;
}

.word:hover {
    text-decoration: underline;
}

#navbar {
    position: fixed;
    background-color: lightgray;
}

#content {
  padding-top: 20px;
}

tr.def {
}

tr.def:nth-child(even) {
  background-color: #ccc;
}

tr.def:nth-child(odd) {
  background-color: #eee;
}
